/* -- mobile styles -- */
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}

body {
    font-family: 'Roboto';
    text-align: center;
}

#nav-main #logo {
    max-width: 220px;
    height: auto;
}

#nav-main ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-main a:hover {
    color: blueviolet;
}

#nav-main a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-container h2 {
    display: block;
}

.product {
    /* display: flex; */
    /* text-align: center; */
}

.product img {
    width: 300px;
    max-width: 50%;
}

.product button {
    display: block;
    margin: 0 auto;
}

.cart-items img {
    max-width: 70px;
}


/* -- desktop styles -- */
@media only screen and (min-width: 992px) {

}